body {
  background-color: #7f795d;
}
/* Basic styling for the container */
.container {
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 10px;
  background-color: #cec9b8;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 500px;
  margin: 0 auto;
}

/* Styling for the Summarize Video button */
#summarize-btn {
  background-color: #7f795d;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#summarize-btn:hover {
  background-color: #5e5943;
}

/* Styling for the captions container */
.summary-container {
  font-size: 16px;
  background-color: #d4d0c2;
  padding: 5px;
  border-radius: 5px;
  text-align: left;
  max-height: 200px;
  overflow: auto;
  line-height: 1.4; /* Increase line height for readability */
  font-family: Arial, sans-serif; /* Change the font family as needed */
  color: #333; /* Adjust the text color as needed */
  font-size: 16px; /* Adjust the font size as needed */
}

.loader {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #0073e6;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
  display: none; /* Initially hidden */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-message {
  font-size: 14px;
  color: #555;
  display: none; /* Initially hidden */
  margin-top: 10px;
}

#increase-font-size,
#decrease-font-size {
  font-size: 20px;
  background-color: #7f795d;
  color: #fff;
  padding: 3px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#increase-font-size:hover,
#decrease-font-size:hover {
  background-color: #5e5943;
}

#font-size-label {
  font-size: 18px;
}
